.container{
	display: flex;
	flex-direction: row;
}

h3{
	position: absolute;
	color: white;
	margin: 25px;
	white-space: nowrap;
	margin-top: 55%;
}

/* .panel{
	padding-right: 30px;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    cursor: pointer;
    flex: 0.2;
    margin:8px;
    position: relative;
    transition: all 0.7s ease-out;
	
} */

.panel img{
	margin: 20px;
	border-radius: 60px;
	width: 170px;
	height: 100vh;
	transition: all 0.7s ease-out;

}


.panel .active{
    flex: 3;
}






